.hero-spacer {
    margin-top: 10px;
    padding-top: 50px;
}

.jumbotron {
    /*margin-top: 100px;*/
    height: 400px;
}

.jumbotron-caption {
    padding-top: 200px;
    position: static;
    max-width: 400px;
    /*top: 50%;*/
    /*margin-top: 200px;*/
    margin-left: 30%;
    text-align: center;
    /*transform: translateY(250%);*/
}

.hero-feature {
    margin-bottom: 30px;
}