.hero-spacer {
    margin-top: 10px;
    padding-top: 50px;
}

.jumbotron {
    margin-top: 100px;
    height: 300px;
}

.jumbotron .container {
    padding-top: 80px;
}

.hero-feature {
    margin-bottom: 30px;
}